/// <reference path="<%= reference %>" />

interface ITemplateStore {
    get(name: "<%= templateGetKey %>" ): MustacheTS.Template<<%= contextType %>>;
}
window["<%= templatePrefixedKey %>"] = <%= compiled %>;
